@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  background-color: rgba(83, 83, 83, 0.295);
}

/*----------Navigation----------*/

.nav-item {
  font-size: 25px;
  opacity: 0.8;
  font-family: "Anton";
  padding: 0px;
  height: 25px;
  left: 0px;
  margin: 0;
  background-color: transparent;
  margin-bottom: 7px;
  margin-left: 20px;
  align-content: auto;
}

.navbar-brand {
  font-size: 30px;

  font-family: "Anton";
  padding: 2px;
  height: 30px;
  left: 0px;
  margin: 0;
  background-color: transparent;
  box-sizing: border-box;
  margin-bottom: 5px;
}

/*------------text------------*/

h2 {
  text-align: center;
  color: rgb(14, 13, 13);
  font-family: "Anton", Arial, Helvetica, sans-serif;
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 25px;
}



h5 {
  text-align: center;
  
}

p {
  text-align: center;
  color: #0a0101;
  font-family: "Anton";
}



/*----------band font/images-----------*/

.band-name {
  color: rgb(248, 21, 21);
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: 20px;
  
}
.band-image {
  object-fit: cover;
  width: 250px;
  height: 360px;
  
  
}





/*---------Containter-------*/
.row {
  background-color: rgba(89, 207, 243, 0);
margin-top: 15px;
}

.container {
  background-color: #1be0fa0c;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 10px 10px 15px black;
}



link:link, link:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

link:hover, link:active {
  background-color: red;
}
/*--------------contact form--------------*/

.form-center {
  text-align: center;
  
}

.container-form {
  text-align: center;
  
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.col-75 {
  float: none;
  width: 100%;
  margin-top: 6px;

  font-family: "Anton", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {

  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/*--------------footer---------------------*/

.footer {
  color: red;
  position: relative;
  font-size: 36px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
