@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

body {
  background-color: rgba(83, 83, 83, 0.295);
}

/*----------Navigation----------*/

.navbar {
  opacity: 1;
  position: absolute;
  padding: 0;
  height: 50px;
  background-color: transparent;
  left: 0;
}

.nav {
  padding: 0;
  margin: 0;
}

.navbar-toggler-icon {
  color: rgb(12, 10, 10);
}

a {
  font-size: 40px;
  color: rgb(252, 0, 0);
}
/*------------text------------*/

h1 {
  text-align: center;
  color: rgb(141, 6, 6);
  font-family: "Modak", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 72px;
}

h3 {
  text-align: center;
  color: rgb(14, 13, 13);
  font-family: "Modak", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
}

p {
  text-align: center;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

.col {
  color: #000;
  font-family: "Modak", Arial, Helvetica, sans-serif;
  font-size: 26px;
  border: transparent;
}
.button {
  text-align: center;
  color: rgb(141, 6, 6);
  font-family: "Modak", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 72px;
  position: relative;
  width: 100%;
}



.container {
  background-color: #f0e5f3;
  height: 100%;
  margin-top: 0;
  box-shadow: 10px 10px 15px black;
}



/*--------------footer*/

.icon {
  width: 100px;
  height: 70px;
  padding: 30px;
  border-radius: 100%;
  font-size: 34px;
  line-height: 2px;
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  background: #f00;
  transition: 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}



.icon {
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 40px;
}
